pre {
	margin: 0 0 0px;
	padding: 2px;
}

.list-group-item {
	padding: 2px 10px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,	.table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}

#details {
	overflow: hidden;
	text-overflow-multiline: ellipsis;
}